<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <!-- ヘッダーのコンテンツをここに追加する -->

    </header>
    <nav>
        <!-- ナビゲーションバーのコンテンツをここに追加する -->
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <!-- フッターのコンテンツをここに追加する -->
    </footer>
</body>

</html>