/* static/style.css */
body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #0099CC;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

form input[type="submit"] {
    background-color: #0099CC;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0086B3;
}